<% @pageTitle = 'About' %>
<div> 

<p>My name is Dylan Lederle-Ensign. </p>
<p>I am currently a student at the University of Mary Washington, majoring in English and Computer Science. </p>
<p>I am interested in games, programming, literature and education. And Ultimate Frisbee.</p>

</div>
