

<% @pageTitle = 'Contact' %>
<div>

  <p>Email: dylan.lederle.ensign@gmail.com</p>
  <p><a href="https://twitter.com/#!/dlederle">Twitter</a></p>
  <p><a href="http://www.linkedin.com/pub/dylan-lederle-ensign/37/33/9b9">LinkedIn</a></p>
</div>
