<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <link rel="alternate" type="application/atom+xml" title="<% title %>" href="http://feeds.feedburner.com/dlederle"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <script type="text/javascript">

    var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26756756-1']);
      _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    <meta name="description"
      content="<%= @context[:description] || 'Default description' %>" />
    <title>
    <% if @path.split('/').compact.length == 4 %>
      <%= title %>  | dlederle.com
    <% else %>
      <%= @pageTitle %> | dlederle.com
    <% end %>
    </title>
  </head>
  <body>
    <div id="navbar">
      <ul id="navlist">
        <li>
          <div id="logo">
            <a href="http://feeds.feedburner.com/dlederle"><img src="/images/rss.png" alt="Subscribe to rss!"/></a>
            <a href="/">Dylan Lederle-Ensign</a>
            <span> - <%= @pageTitle %></span>
          </div>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/archives">Archives</a></li>
      </ul> 
    </div>
      <section>
      <%= yield %> 
    </section>
    <footer>
      Written by Dylan Lederle-Ensign, powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

