<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="blog.dlederle feed"
      href="http://feeds.feedburner.com/dlederle.blog.all" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="description"
      content="<%= @context[:description] || 'Default description' %>" />
    <title>
    <% if @path == 'index' %>
      Blog | dlederle.com
    <% elsif @path.split('/').compact.length == 4 %>
      <%= title %>  | blog.dlederle.com
    <% end %>
    </title>
  </head>
  <body>
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

