<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0    /bootstrap.min.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="http://feeds.feedburner.com/dlederle/blog" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="description"
      content="<%= @context[:description] || 'Default description' %>" />
    <title>
    <% if @path == 'index' %>
      Blog | dlederle.com
    <% elsif @path.split('/').compact.length == 4 %>
      <%= title %>  | blog.dlederle.com
    <% end %>
    </title>
  </head>
  <body>
    <div id="navbar">
      <ul id="navlist">
        <li>
          <div id="logo">
            <a href="/">Dylan Lederle-Ensign</a>
            <span> - Blog</span>
          </div>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/archives">Archives</a></li>
      </ul> <section>
    </div>
      <%= yield %> 
    </section>
    <footer>
      Written by Dylan Lederle-Ensign, powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

